.aa {
    background-color: beige;
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style-type: none;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: blueviolet;
  }